__pycache__/
.idea
.DS_Store
.vscode/
.env
env/
venv/
.python-version
.idea/*
*.pyc
.idea/*.iml
docs/openapi-spec/*
logs
*.log
/deploy/config.ini
/deploy/conf_local.ini
/test.py
gunicorn_gpt_trans.pid
file/
